.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.mobile,
.header__burger-nav {
  display: none;
}

/* Header */
.header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 15%;

  width: 100%;
  max-width: 1000px;

  background-color: none;
  color: #ffffff;

  z-index: 1000;
}

.header__logo {
  margin-left: 40px;
}
.burger-menu__nav {
  display: none;

  position: absolute;
  top: 90%;
  right: 16px;

  height: 150px;

  background-color: transparent;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.burger-menu__nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.header__nav {
  width: 100%;
}
.header__nav ul {
  display: flex;
  gap: 6%;
}
.header__nav ul li {
  position: relative;
  transition: background-color 1s ease;
}

.header__nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #00b2a0;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.header__nav ul li:hover::after {
  transform: scaleX(1);
}
/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 1080px;

  background-image: url("../images/hero/background.jpg");
  background-size: cover;
  background-position: center;
}
.hero__wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.hero__title {
  position: relative;

  color: #0d302c;
  font-size: 200px;
  font-weight: 700;
  text-transform: uppercase;
}
.hero__subtitle {
  text-align: center;

  color: #000000;
  font-size: 24px;
}
.hero__icon {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* About Section */
.about {
  margin: 200px auto;

  width: 60%;

  background-color: #ffffff;
}
.about__title {
  text-align: right;

  color: #01353e;
  font-size: 48px;
}
.about__wrapper {
  margin: 100px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 30px;
}

.underline-icon {
  position: relative;
  top: 25px;
  left: -10px;
  width: 45px;
}

.about__text {
  color: #242121;
  font-size: 14px;
  line-height: 1.5;
}

/* Advantage Section */
.advantage {
  padding: 200px 0;
  background-color: #f8f8f8;

  color: #242121;
}
.advantage__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 100px;
}

.advantage__container,
.advantage__items-container {
  width: 75%;
  margin: 0 auto;
}
.advantage__items-container {
  display: flex;
  flex-direction: row;

  gap: 75px;

  margin-bottom: 100px;
}

.advantage__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantage__item__title-wrapper {
  display: flex;
  gap: 5px;

  justify-content: center;
  align-content: center;
  align-items: center;

  margin-bottom: 20px;
}
.advantage__item__title {
  color: #242121;
  font-size: 24px;
}

.advantage__graphics {
  width: 30%;
}
.graphic__wrapper {
  font-size: 14px;
}

.graphic__percent {
  font-weight: 700;
  font-size: 24px;
}
.advantage__text-wrapper {
  width: 50%;
}
.advantage__text {
  margin-bottom: 30px;
}

.advantage__item__text,
.graphic__wrapper,
.advantage__text {
  font-weight: 400;
  line-height: 1.5;
}

/* Call to Action Section */
.cta {
  position: relative;
  display: flex;
  height: 100%;
  min-height: 1080px;

  padding: 0 0 200px 360px;
  overflow: hidden;
}
.cta__title {
  font-size: 48px;
  font-weight: 600;
  color: #01353e;
  padding-bottom: 100px;

  text-transform: uppercase;
  white-space: nowrap;
}
.cta__text-wrapper {
  margin: 200px 90px 0 0;
}
.cta__text {
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 30px;
  font-weight: 400;
}

/* Quote */
.quote {
  display: flex;
  width: 100%;
  height: 200px;

  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;

  color: #242121;
}
.quote__text {
  font-size: 36px;
  font-style: italic;
}
.quote__author {
  position: relative;
  top: 25px;
  right: 140px;
  font-size: 14px;
  font-style: italic;
}

/* About Numbers Section */
.about-numbers {
  width: 100%;
  padding: 200px 0;

  color: #242121;
}
.about-numbers__video {
  display: block;
  width: 100%;

  margin: 0 auto;
  padding-bottom: 200px;
}
.about-numbers__numbers-wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.about-numbers__number {
  text-align: center;
}
.about-numbers__number-value {
  font-size: 64px;
  font-weight: 700;
}
.about-numbers__number-label {
  font-size: 14px;
  font-weight: 400;
}

/* Blog Section */
/* slider  */
.blog {
  position: relative;

  width: 100%;

  overflow: hidden;
  margin: auto;
}
/* slides  */
.slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.blog__title {
  text-align: center;
  font-size: 48px;

  text-transform: uppercase;
  font-weight: 600;
}
/* slide  */
.blog__article {
  position: relative;
  min-width: 100%;
  padding: 200px 0;
}

.article__text-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;

  z-index: 1;

  color: #ffffff;
}
.article__title {
  font-size: 48px;
}
.article__subtitle {
  font-size: 14px;
  font-weight: 400;
}
.mask {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.article__image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}
.mask::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242121;
  opacity: 0.5;
  pointer-events: none;
}

.slider__dots {
  position: absolute;
  bottom: 22%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.dot.active {
  background-color: #00b2a0;
}

/* Team Section */
.team {
  width: 100%;
  padding: 0 360px;
}
.team__title {
  text-align: center;
  font-size: 48px;
  color: #01353e;
  font-weight: 600;
}
.team__members {
  display: flex;

  justify-content: space-between;
  gap: 100px;
  margin: 200px 0;
}
.team-member {
  text-align: center;
  color: #242121;
}

.team-member__name {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 700;
}
.team-member__role {
  font-size: 14px;
}

/* Pricing Section */
.pricing {
  width: 100%;
  padding: 200px 360px;
  background-color: #f8f8f8;
}
.pricing__title {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: #01353e;
  margin-bottom: 200px;
}
.pricing__packages {
  display: flex;
  gap: 60px;
  justify-content: center;
}
.pricing__package {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  padding: 45px;

  text-align: center;
  background-color: #ffffff;
}
.package__title {
  font-size: 36px;
  color: #01353e;
  padding-bottom: 60px;
}
.package__features {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: left;
}
.price__numbers {
  font-size: 36px;
}

/* Location Section */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.map {
  width: 80%;
  margin: 200px 0;
}

/* Contact Section */
.contact {
  width: 100%;
}

.contact__title {
  text-align: center;
  font-size: 48px;
  color: #01353e;
  font-weight: 600;
  margin-bottom: 100px;
}
.contact__container {
  display: flex;
  gap: 30px;
  width: 60%;
  margin: 0 auto;
}
.form {
  width: 50%;
}
.form__group {
  width: 100%;
}

.form__textarea {
  height: 150px;
  resize: none;
}
.form__textarea,
.form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dadada;
  background-color: transparent;
  padding-bottom: 18px;
  margin-top: 30px;
}

.form__textarea:focus,
.form__input:focus {
  outline: none;
  box-shadow: none;
}

.form__submit {
  font-size: 24px;
  padding: 25px 110px;
  margin-top: 75px;

  text-transform: uppercase;

  border: 1px solid #c4c4c4;

  background-color: transparent;

  cursor: pointer;
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  padding: 50px 190px 70px 50px;

  background-color: #f8f8f8;
}
.contact__info-text {
  font-size: 24px;
}

textarea::placeholder,
input::placeholder,
.form__textarea,
.form__input {
  color: #00b2a0;
  opacity: 1;
  font-size: 18px;
}
textarea::placeholder,
input::placeholder {
  opacity: 0.7;
}

/* Social Section */
.social {
  padding: 200px 0;
  width: 100%;
}
.social__links {
  display: flex;
  gap: 10px;

  justify-content: center;

  margin: 0 auto;
}
.social__link {
  color: #242121;
  font-size: 24px;
  text-transform: uppercase;
  transition: color 0.3s ease, font-size 0.3s ease;
}
.social__link:hover {
  color: #00b2a0;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #00b2a0;
  padding: 70px 0;
}
.logo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* Для планшетов и меньше (максимальная ширина 1200px) */
@media (max-width: 1200px) {
  br,
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  /* about section */
  .about__title {
    font-size: 24px;
  }
  .underline-icon {
    position: relative;
    top: 20px;
    left: -13px;
    width: 30px;
  }
  .about__wrapper {
    margin-top: 50px;

    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 15px;
  }

  .about__text {
    font-size: 12px;
  }
  /* Advantage Section */
  .advantage {
    padding: 100px 0;
  }
  .advantage__title {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .advantage__container,
  .advantage__items-container {
    width: 75%;
    margin: 0 auto;
  }
  .advantage__items-container {
    gap: 30px;
    margin-bottom: 50px;
  }

  .advantage__item__title {
    font-size: 18px;
  }

  .graphic__wrapper {
    font-size: 14px;
  }
  .graphics__image {
    display: none;
  }
  .graphic__percent {
    display: block;
    font-size: 18px;
  }
  .advantage__text-wrapper {
    width: 50%;
  }
  .advantage__text {
    margin-bottom: 15px;
  }
  /* Call to Action Section */
  .cta {
    padding: 100px 0;
    min-height: 800px;
  }
  .cta__title {
    font-size: 24px;

    color: #ffffff;
    padding-bottom: 40px;
  }
  .cta__text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    margin: 0 auto;

    z-index: 1;
  }
  .cta__text {
    color: #ffffff;
  }
  .cta__image {
    position: absolute;
    top: 0px;
    left: -66px;
    width: 117%;
    z-index: -1;
  }

  /* Quote */

  .quote__text {
    font-size: 24px;
  }
  .quote__author {
    font-size: 12px;
  }
  /* About Numbers Section */
  .about-numbers {
    padding: 100px 0;
  }
  .about-numbers__video {
    padding-bottom: 70px;
  }
  .about-numbers__numbers-wrapper {
    gap: 50px;
  }

  .about-numbers__number-value {
    font-size: 56px;
  }
  /* Blog Section */
  .blog__title {
    font-size: 24px;
  }

  .blog__article {
    padding: 50px 0;
  }

  .article__title {
    font-size: 24px;
  }
  /* Team Section */
  .team {
    padding: 75px;
  }
  .team__title {
    font-size: 24px;
  }
  .team__members {
    gap: 50px;
    margin: 100px 0;
  }

  .team-member__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
  /* Pricing Section */
  .pricing {
    padding: 50px 20px;
  }
  .pricing__title {
    font-size: 24px;

    margin-bottom: 100px;
  }
  .pricing__packages {
    gap: 30px;
  }
  .pricing__package {
    padding: 30px;
  }

  .price__numbers {
    font-size: 24px;
  }

  .package__title {
    font-size: 24px;
  }

  /* Location Section */
  .location {
    width: 100%;
  }
  .map {
    width: 80%;
    margin: 50px 0;
  }

  /* Contact Section */

  .contact__title {
    font-size: 24px;

    margin-bottom: 50px;
  }
  .contact__container {
    width: 80%;
  }

  .form__submit {
    font-size: 16px;
    padding: 20px 100px;
    margin-top: 50px;
  }
  .contact__info {
    padding: 20px 50px;
  }
}

/* Для мобильных (максимальная ширина 767px) */
@media (max-width: 767px) {
  .mask-mobile::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242121;
    opacity: 0.5;
    pointer-events: none;
  }

  /* Header */
  .header {
    justify-content: space-between;
  }

  /* Заменяем навигацию на бургер-меню */
  .header__nav {
    display: none;
  }
  .header__burger-nav {
    display: block;
    margin-right: 40px;
  }
  .burger-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  /* Hero Section */

  .hero__title {
    font-size: 100px;
  }
  .hero__subtitle {
    font-size: 20px;
  }
  /* About Section */
  .about {
    margin: 50px auto;

    width: 100%;
  }
  .about__title {
    font-size: 24px;
  }
  .about__wrapper {
    margin: 50px auto 0;

    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }

  .underline-icon {
    top: 20px;

    width: 30px;
  }

  .about__text {
    font-size: 12px;
  }

  /* Advantage Section */
  .advantage {
    padding: 50px 0;
  }
  .advantage__title {
    font-size: 24px;
    margin-bottom: 35px;
  }

  .advantage__container,
  .advantage__items-container {
    width: 90%;
  }
  .advantage__items-container {
    flex-direction: column;

    gap: 15px;

    margin-bottom: 30px;
  }
  .advantage__item {
    width: 100%;
    padding: 10px;
  }

  .advantage__item__title-wrapper {
    margin-bottom: 10px;
  }
  .advantage__item__title {
    font-size: 16px;
  }

  .advantage__graphics {
    width: 40%;
  }
  .graphic__wrapper {
    font-size: 12px;
  }

  .graphic__percent {
    font-size: 16px;
  }
  .advantage__text-wrapper {
    width: 60%;
  }
  .advantage__text {
    margin-bottom: 20px;
  }

  .advantage__item__text,
  .graphic__wrapper,
  .advantage__text {
    font-size: 12px;
  }
  /* Call to Action Section */
  .cta {
    padding: 0;
    height: 450px;
    min-height: 450px;
  }
  .cta__title {
    font-size: 24px;

    padding-bottom: 0px;
  }
  .cta__text-wrapper {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;

    z-index: 1;
  }
  .cta__text {
    font-size: 12px;

    padding-bottom: 0;
  }
  .cta__image {
    top: -6px;
    left: -140px;
    width: 150%;
    z-index: -1;
  }

  /* Quote */
  .quote {
    padding-left: 10px;
  }
  .quote__text {
    font-size: 24px;
  }
  .quote__author {
    position: relative;
    top: 50px;
    right: 80px;
    font-size: 12px;
    font-style: italic;
  }

  /* About Numbers Section */
  .about-numbers {
    padding: 50px 0;
  }
  .about-numbers__video {
    padding-bottom: 50px;
  }
  .about-numbers__numbers-wrapper {
    gap: 20px;
  }

  .about-numbers__number-value {
    font-size: 32px;
  }
  .about-numbers__number-label {
    font-size: 12px;
  }
  /* Blog Section */

  .blog__title {
    font-size: 24px;
  }
  .blog__article {
    padding: 50px 0;
  }
  .article__text-wrapper {
    top: 30%;
    left: 10%;
  }
  .article__title {
    font-size: 48px;
  }

  .article__image {
    height: 800px;
  }
  /* Team Section */
  .team {
    padding: 0 20px;
  }
  .team__title {
    font-size: 24px;
  }
  .team__members {
    display: flex;

    justify-content: space-between;
    gap: 10px;
    margin: 100px 0;
  }

  .team-member__image {
    object-fit: cover;
    object-position: center;
  }
  .team-member__name {
    font-size: 16px;
  }
  .team-member__role {
    font-size: 12px;
  }

  /* Pricing Section */
  .pricing {
    padding: 50px 20px;
  }
  .pricing__title {
    font-size: 24px;

    margin-bottom: 50px;
  }
  .pricing__packages {
    flex-direction: column;
    gap: 20px;
  }

  .package__title {
    font-size: 24px;

    padding-bottom: 30px;
  }
  .package__features {
    gap: 10px;
  }
  .price__numbers {
    font-size: 24px;
  }
  /* Location Section */

  .map {
    width: 95%;
    margin: 50px 0;
  }

  /* Contact Section */

  .contact__title {
    font-size: 24px;

    margin-bottom: 50px;
  }
  .contact__container {
    flex-direction: column;
    gap: 20px;
    width: 80%;
  }
  .form {
    width: 100%;
  }

  .form__submit {
    padding: 25px 80px;
    margin-top: 40px;
  }
  .contact__info {
    width: 100%;
    padding: 0;
  }
  .contact__info-text {
    font-size: 18px;
  }
  /* Social Section */
  .social {
    padding: 70px 0;
  }

  .social__link {
    font-size: 18px;
  }

  /* Footer */
  .footer {
    padding: 30px 0;
  }
}
.open {
  display: block;
}
